* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0% 5%;
    margin-bottom: 5%;
    background-image: url(../img/2980.png);
    background-size: contain;
    color: aliceblue;
}

img {
    width: 15.69%;
}

#title1 {
    padding-top: 2%;
    color: pink;
    padding-bottom: 1%;
}

#title2 {
    padding-top: 1%;
    color: palevioletred;
    padding-bottom: 2%;
}

.name {
    color: plum;
    background-color: chocolate;
    border-radius: 10%;
}